/* Body Styles */

body {
    background-color: black;
    min-width: 100%;
    min-height: 100%;
}

/* Header Styles */

@font-face {
    font-family: modernline;
    src: url("fonts/modernline.otf");
}

.header {
    margin: 1%;
    min-width: 100%;
}

header {
    background-image: url("images/abstract.gif");
    font-family: 'modernline';
    font-size: 50px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
    color: whitesmoke;
    text-shadow: 5px 1px 2.5px rgb(196, 187, 187);
}


.navigation ul{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 30px;
    text-shadow: none;
}

.navigation ul li {
    margin-right: 15px;
    margin-bottom: 5px;
    list-style-type: none;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 2%;
    }

 a {
    color: whitesmoke
    text-decoration underline;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 2%;
}

a:link {
    color: whitesmoke
}

a:visited {
    color: whitesmoke

}

a:hover {
    cursor: pointer;
    color: goldenrod;
    text-decoration-color: goldenrod;
}

a:active {
    color: whitesmoke
}

.box1 {
    margin: 20px 10px 50px 20px;
    padding-bottom: 60px;
    color:transparent;
    font-family: 'modernline';
    text-shadow: 5px 3px 2.5px rgb(196, 187, 187);
    font-size: 120px;
    text-align: center;
}

.innovate {
    clear: both;
    float: left;
    margin-left: 20px;
    background-image: url('images/abstract.gif');
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    
}

.design {
    clear: both;
    float: center;
    background-image: url('images/abstract.gif');
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.develop {
    clear: both;
    float: right;
    margin-right: 20px;
    background-image: url('images/abstract.gif');
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

/* Content Styles */

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    margin-left: 15px;
    padding-top: 10%
}

.content h2 {
    color: whitesmoke;
    font-family: 'modernline';
    text-shadow: 5px 4px 4px rgb(43, 41, 41);
    font-size: 50px;
}

.content p {
    display: none;
}

.About {
    background-image: url('images/portraitResize.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 500px;
    padding-top: 350px;
    padding-right: 2%;
    display: inline-block;
    text-align: center;
    margin: 5%;
    padding-left: 2%;
    border-color: whitesmoke;
    border-width: 4px;
    border-radius: 50%;
    border-style: solid;
    transition: width 2s, height 2s ease-in-out; 
}

.About:hover {
    width: 300%;
    height: 600px;
    padding-top: 100px;
    background-position: left;
}

.Work {
    background-image: url('images/work.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 500px;
    padding-top: 350px;
    padding-right: 2%;
    display: inline-block;
    text-align: center;
    margin: 5%;
    padding-left: 2%;
    border-color: whitesmoke;
    border-width: 4px;
    border-radius: 50%;
    border-style: solid;
    transition: width 2s, height 2s ease-in-out; 
}

.Work:hover {
    width: 300%;
    height: 600px;
    padding-top: 100px;
    background-position: left;
}

.Resume {
    background-image: url('images/resume.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 500px;
    padding-top: 350px;
    padding-right: 2%;
    display: inline-block;
    text-align: center;
    margin: 5%;
    padding-left: 2%;
    border-color: whitesmoke;
    border-width: 4px;
    border-radius: 50%;
    border-style: solid;
    transition: width 2s, height 2s ease-in-out; 
}

.Resume:hover {
    width: 300%;
    height: 600px;
    padding-top: 100px;
    background-position: left;
}

.Contact {
    background-image: url('images/contact.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 500px;
    padding-top: 350px;
    padding-right: 2%;
    display: inline-block;
    text-align: center;
    margin: 5%;
    padding-left: 2%;
    border-color: whitesmoke;
    border-width: 4px;
    border-radius: 50%;
    border-style: solid;
    transition: width 2s, height 2s ease-in-out; 
}

.Contact:hover {
    width: 300%;
    height: 600px;
    padding-top: 100px;
    background-position: left;
}

/* Footer styles */

Footer {
    background-image: url('images/abstract.gif');
}

Footer ul {
    padding-top: 50px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 15px;
    list-style-type: none;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 2%;

}

Footer ul li {
    margin-right: 5px;
}

/* Screen Size */
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}