/* Body Styles */
html {
    overflow-x: hidden;
}
body {
    background-color: black;
    min-width: 100%;
    min-height: 100%;
}

/* Header Styles */

@font-face {
    font-family: modernline;
    src: url("fonts/modernline.otf");
}

header {
    height: 20vh;
    width: 100vw;
    background-image: url("images/abstract.gif");
    font-family: 'modernline';
    font-size: 2.5em;
    margin-top: 1%;
    color: whitesmoke;
    text-shadow: 5px 1px 2.5px rgb(196, 187, 187);
}

h1 {
    padding-top: 1.5%;
    padding-left: 3%;
}


.navigation ul{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    padding-right: .5%; 
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-shadow: none;
}

.navigation ul li {
    margin-right: 15px;
    margin-bottom: 5px;
    list-style-type: none;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 2%;
    }

 a {
    width: fit-content;
    color: whitesmoke
    text-decoration underline;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 2%;
    margin-right: 3%;
}

a:link {
    color: whitesmoke;
}

a:visited {
    color: whitesmoke

}

a:hover {
    cursor: pointer;
    color: goldenrod;
    text-decoration-color: goldenrod;
}

a:active {
    color: whitesmoke
}

.box1 {
    height: 40vh;
    margin: 20px 10px 50px 20px;
    padding-bottom: 60px;
    color: transparent;
    font-family: 'modernline';
    text-shadow: 3px 3px 2.5px rgb(196, 187, 187);
    font-size: 50px;
    text-align: center;
}

.innovate {
    clear: both;
    float: left;
    margin-left: 20px;
    background-image: url('images/abstract.gif');
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    
}

.design {
    clear: both;
    float: center;
    background-image: url('images/abstract.gif');
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.develop {
    clear: both;
    float: right;
    margin-right: 20px;
    background-image: url('images/abstract.gif');
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 50px;
}

/* Content Styles */

.content {
    flex-direction: column;
    margin-left: 15px;
    padding-top: 10%;
    position: relative;
}

.content h2 {
    color: whitesmoke;
    font-family: 'modernline';
    text-shadow: 5px 4px 4px rgb(43, 41, 41);
    font-size: 50px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.big {
    border-color: whitesmoke;
    border-width: 4px;
    border-radius: 50%;
    border-style: solid;
    object-fit: cover;
    object-position: center;
    margin-bottom: 5%;
}

.pro1 {
    justify-content: center;
    border-color: whitesmoke;
    border-width: 4px;
    border-radius: 50%;
    border-style: solid;
    max-width:  150px;
    max-height: 150px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2%;
    margin-right: 2%;
}

.box2 {
    display: flex;
    width: 100vw;
    justify-content: start;
}

.box3 {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    justify-content: start;
}
article {
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color: whitesmoke;
    font-size: 30px;
    flex-basis: 50%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    padding-top:10%;
}
p {
    font-size: 15px;
}

.carousel {
    height: 50vh;
    width: 70vw;
    margin: 15%;
}

.carousel-item {
    max-height: 50vh;
}
.sr-only {
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: whitesmoke;
    font-size: 150px;
}


.Picture {
    margin-left: 5%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
}

.touch {
    width: 68%;
    padding-top: 5%;
    font-size: 25px; 
}


/* Footer styles */

Footer {
    width: 100vw;
    background-image: url('images/abstract.gif');
}

Footer ul {
    padding-top: 50px;
    padding-bottom: 5px;
    padding-right: 0.85%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 15px;
    list-style-type: none;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 2%;

}

Footer ul li {
    margin-right: 5px;
}

/* Screen Size */
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

    .box2, .box3 {
        justify-content: center;
        display: inline;
    }

    a {
        margin-bottom: 3%;
    }

    .touch {
        font-size: 20px;
        width: 50%;
        margin-bottom: 3%;
    }

    .pro1 {
        max-width: 75px;
        max-height: 75px;
    } 

}
@media screen and (max-width: 660px) {
    header {
        height: 10vh;
        width: 100vw;
        font-size: 1em;
    }
    
    .navigation ul  {
        font-size: 1em;
    }

    .touch {
        font-size: 15px;
        width: 50%;
        margin-bottom: 3%;
    }


}