/* Body Styles */

body {
    background-color: black;
    min-width: 100%;
    min-height: 100%;
}

/* Header Styles */

@font-face {
    font-family: modernline;
    src: url("fonts/modernline.otf");
}

.header {
    margin: 10px;
}

header {
    background-image: url("images/abstract.gif");
    font-family: 'modernline';
    font-size: 50px;
    padding-left: 2%;
    margin-top: 1%;
    color: whitesmoke;
    text-shadow: 5px 1px 2.5px rgb(196, 187, 187);
}


.navigation ul{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 30px;
    text-shadow: none;
    border-color:whitesmoke;
    border-radius: 10px;
    border-width: 3px;
}

.navigation ul li {
    margin-right: 15px;
    margin-bottom: 5px;
    list-style-type: none;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 2%;
    }

 a {
    color: whitesmoke
    text-decoration underline;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 2%;
}

a:link {
    color: whitesmoke
}

a:visited {
    color: whitesmoke

}

a:hover {
    cursor: pointer;
    color: goldenrod;
    text-decoration-color: goldenrod;
}

a:active {
    color: whitesmoke
}

.box1 {
    margin: 20px 10px 50px 20px;
    padding-bottom: 60px;
    color:whitesmoke;
    font-family: 'modernline';
    text-shadow: 5px 1px 2.5px rgb(196, 187, 187);
    font-size: 120px;
    text-align: center;
}

.innovate {
    clear: both;
    float: left;
    margin-left: 20px;
    
}

.design {
    clear: both;
    float: center;
}

.develop {
    clear: both;
    float: right;
    margin-right: 20px;
}

/* Content Styles */

.content {
    width: 35%;
    margin-left: 15px;
    padding-top: 10%
}

.content h2 {
    color: whitesmoke;
    font-family: 'modernline';
    text-shadow: 5px 1px 2.5px rgb(196, 187, 187);
    font-size: 50px;
}

.content p {
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 14px;
}

.About {
    background-image: url('images/portraitResize.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 500px;
    padding-top: 55%;
    padding-right: 2%;
    display: inline-block;
    text-align: center;
    margin: 5%;
    padding-left: 2%;
    border-color: whitesmoke;
    border-width: 4px;
    border-radius: 50%;
    border-style: solid;
}

.Work {
    width: 500px;
    height: 500px;
    padding-top: 55%;
    padding-right: 2%;
    display: inline-block;
    text-align: center;
    margin: 5%;
    padding-left: 2%;
    border-color: whitesmoke;
    border-width: 4px;
    border-radius: 50%;
    border-style: solid;
}

.Resume {
    width: 500px;
    height: 500px;
    padding-top: 55%;
    padding-right: 2%;
    display: inline-block;
    text-align: center;
    margin: 5%;
    padding-left: 2%;
    border-color: whitesmoke;
    border-width: 4px;
    border-radius: 50%;
    border-style: solid;
}

.Contact {
    width: 500px;
    height: 500px;
    padding-top: 55%;
    padding-right: 2%;
    display: inline-block;
    text-align: center;
    margin: 5%;
    padding-left: 2%;
    border-color: whitesmoke;
    border-width: 4px;
    border-radius: 50%;
    border-style: solid;
}